* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e0e0e0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

.container {
    width: 400px;
    height: 500px;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    padding: 60px 20px;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 5px dashed #f6f6f6;
}

img {
    border-radius: 50%;
    box-shadow:  20px 20px 60px #9f9f9f,
             -20px -20px 60px #ffffff;
}

.title {
    font-size: 32px;
    line-height: 1;
    margin-top: 24px;
}

.subtitle {
    font-size: 14px;
    margin-top: 6px;
    color: #595959;
}

.social-icons {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

a {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: 24px;
    color: #069591;
    box-shadow:  inset 4px 4px 12px #bebebe,
    inset -4px -4px 12px #ffffff;
}